{% extends 'base.html' %}

{% block content %}
<h2>Timeline</h2>

<form action="/search">
    <input name="username" placeholder="Search for a user...">
    <input type="submit" value="Search">
</form>
{% if not_found %}
<p style="color: red;">No user found with username "{{ not_found }}".</p>
{% endif %}

<img src="{{ url_for('static', path='twitter.gif') }}" class="gif">

{% for message in messages %}
    <div>
        <p><em><a href="/user/{{ message.username }}">@{{ message.username }}</a></em>, Age: {{ message.age }}</p>
        <p>{{ message.message|detect_url }}</p>
        <p>{{ message.created_at }}</p>
        {% if message.username == username %}
        <a href="/delete_message?id={{ message.id }}">Delete</a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}  