<html>

    {%block content %}
    <head>
        <title>Twitter Clone</title>
    </head>
    <body>


        <form>
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <input type="submit" value="Login">
        </form>

        <h1>Welcome to Twitter Clone</h1>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/create_user">Create User</a></li>
            <li><a href="/create_message">Create Message</a></li>
        </ul>
        <p>This is the login page</p>
    </body>
</html>